.button{
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    text-align: center;
    padding: 16px 32px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover{
    background-color: #e7e7e7;
}
.background{
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(125, 125, 122);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}